body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.jumbotrona {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}