{% extends 'haccp/base.html' %}{% load static %}

{% block content %}

<div class="jumbotrona">

<h1>Manager Dashboard</h1>
    <div class="row">
            <div class="ol-xs-6 col-sm-3"><p><a type="button" class="btn btn-primary" href="/haccp/quatform_list.html">View Quaternary Forms</a></p></div>
            <div class="ol-xs-6 col-sm-3"><p><a type="button" class="btn btn-primary">View Cooler Forms</a></p></div>
            <div class="clearfix visible-xs"></div>
            <div class="ol-xs-6 col-sm-3"><p><a type="button" class="btn btn-primary">View  Preoperation Forms</a></p></div>
            <div class="ol-xs-6 col-sm-3"><p><a type="button" class="btn btn-primary">View  Operation Forms</a></p></div>
     </div>
</div>



{% endblock %}