{% extends 'haccp/base.html' %} 

{% block title %}Quaternary Form{% endblock %} 

{% block content %}

<div class="jumbotrona">

	<form action="/haccp/quaternary_form/" method="POST" class="form-group" >{% csrf_token %}

          {{ form.date.as_hidden}}
          {{ form.technician_name.as_hidden}}
          {{ form.technician_initial.as_hidden}}
          {{form.manager_name.as_hidden}}
          {{form.manager_initial.as_hidden}}
          {{form.hand_pallet_sanitizer_strength.label}}:   {{form.hand_pallet_sanitizer_strength}}<br />
          {{form.footbath1_sanitizer_strength.label}}:     {{form.footbath1_sanitizer_strength}}<br />
        {{form.footbath2_sanitizer_strength.label}}:     {{form.footbath2_sanitizer_strength}}<br />
         {{form.footbath3_sanitizer_strength.label}}:     {{form.footbath3_sanitizer_strength}}<br />
         {{form.footbath4_sanitizer_strength.label}}:     {{form.footbath4_sanitizer_strength}}<br />
        {{form.footbath5_sanitizer_strength.label}}:      {{form.footbath5_sanitizer_strength}}<br />
         {{form.assembly_sanitizer_strength.label}}:       {{form.assembly_sanitizer_strength}}<br />
    <input type="submit" name="submit" class="btn btn-primary" />
    <a href="/haccp/dashboard.html" class="btn btn-primary">Return to Dashboard</a>
	</form>
        {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          {% endif %}

{% endblock %}
