{% extends 'haccp/base.html' %} 

{% block title %}Quaternary Form{% endblock %} 

{% block content %}

<div class="jumbotrona">

	<form action="/haccp/quaternary_form/" method="POST" class="form-group" >{% csrf_token %}


          {{ form.technician_name}}
          {{ form.technician_initial}}
          {{form.manager_name.as_hidden}}
          {{form.manager_initial.as_hidden}}
          {{form.hand_pallet_sanitizer_strength.label}}:   {{form.hand_pallet_sanitizer_strength}}<br />
          {{form.footbath1_sanitizer_strength.label}}:     {{form.footbath1_sanitizer_strength}}<br />
         {{form.footbath3_sanitizer_strength.label}}:     {{form.footbath3_sanitizer_strength}}<br />
         {{form.footbath4_sanitizer_strength.label}}:     {{form.footbath4_sanitizer_strength}}<br />
        {{form.footbath5_sanitizer_strength.label}}:      {{form.footbath5_sanitizer_strength}}<br />
         {{form.assembly_sanitizer_strength.label}}:       {{form.assembly_sanitizer_strength}}<br />
    <input type="submit" name="submit" />
	</form>


{% endblock %}
